<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/roman/IdeaProjects/testiqoption/src/test/java"><classes><class name="testsuite.api.AuthorizationTest"><methods><include name="autorizationPassedTest"/><include name="autorizationFailedTestInvalidPassword"/><include name="autorizationFailedTestInvalidEmail"/></methods></class><class name="testsuite.api.RegistrationTest"><methods><include name="registrationTestFailed"/></methods></class><class name="testsuite.websocket.WebsocketTest"><methods><include name="websockedLoginPassedTest"/><include name="websockedLoginFailedTest"/></methods></class></classes></test></suite>